main.auth {
  background: #141E30;
  background: linear-gradient(to right, #243B55, #141E30);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .card {
    width: 100%;
    max-width: 450px;
  }
}
