.dashboard {
  .ant-menu {
    a {
      text-decoration: none !important;
    }
  }
}

.ant-layout-sider {
  .ant-layout-sider-children {
    background: #1d3557;
  }
}

.ant-menu-dark {
  background: #1d3557 !important;
}
